body {
  background-color: thistle;
  text-align: center;
  color: black;
  font-size: 40px;
}

.back {
  color: black;
}

input {
  width: 400px;
  height: 50px;
  padding: 0 10px 0 10px;
  border: 3px solid tomato;
  font-size: 30px;
}

button {
  width: 150px;
  height: 54px;
  color: black;
  font-size: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: green;
}

.readout {
  background-color: red;
  color: black;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.value {
  font-size: 80px;
}
.label {
  font-size: 20px;
}
